[Unit]
Description=GDHI Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar /opt/gdhi/service/gdhi-1.0.jar
Restart=on-abort

[Install]
WantedBy=multi-user.target
