[Unit]
Description=GDHI Service
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/opt/gdhi/service/application.yml
ExecStart=/usr/bin/java -jar {{deploy_path}}/gdhi-1.0.jar
PIDFile=/opt/gdhi/service/pid/gdhi.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
